#plans
  .dog
    = image_tag("doscompost.jpg", :alt => "dos compost")
    = link_to "about", about_path
  .clear
  %h3 We will collect your compost and dispose of it
  .intro
    %p Reducing your waste and eliminating dorm room smell is as simple as answering two questions:
    %ol
      %li Do you want your compost picked up once or twice a week?
      %li Do you want to buy your own compost bin through me or pay higher weekly fees to borrow one?

  %h3 When 50 people sign up, PRICES WILL BE CUT! Get your friends, acquaintances, professors etc... to sign up.
  - @plans.each do |plan|
    .plan
      - if plan.id ==1 || plan.id == 2
        .namegreen= plan.name
      - else
        .name= plan.name
      .details
        .price
          = number_to_currency plan.price, :precision => 0
        .per_month per week
        .when
          - if plan.id ==1 || plan.id == 3
            %p Monday morning pick up
          - else
            %p Monday and Friday morning pick up
          - if plan.id == 1 || plan.id == 2
            %p You get your own bin
          - else
            %p Pay extra to rent a bin
        .signup
          = link_to "Sign up", new_subscriber_path(:plan_id => plan.id)
  .clear
  .intro
    %p Once upon a time, three roommates got a compost bin for their Fahey dorm room, and immediately reduced their landfill waste to near zero by composting instead of trashing the random fruit pieces, old pizza, mysteries in the mini fridge, paper towels, string, etc… that were constantly cropping up in their room. With their waste stream being converted back into soil, and the smells of rotting trash banished, the only problem was getting the compost out of their dorm room. That's where "Dos Compost" enters the scene, stage right.
    %p We will give you a metal, odor-less compost bin for you to put your compostable items in, and we will come by and pick it up, then dispose of it for you.
  %p Do it for the kids.